<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<p>
  members:
  <% @beer_club.users.each do |user|%>
    <li> <%= link_to user.username, user %> </li>
  <% end %>
</p>

<% if current_user && !@beer_club.users.find_by(id: current_user.id) %>
  <%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value:"join the club", class:'btn btn-success' %>
  <% end %>
<% end %>

<% if current_user && @beer_club.users.find_by(id: current_user.id) %>
  <%= form_for(@membership, method: "delete") do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value: "end the membership", class:'btn btn-danger' %>
  <% end %>
<% end %>

<%= edit_and_destroy_buttons(@beer_club) %>
