<h2>
  <%= @user.username %>
</h2>
<% if current_user && current_user.admin %>
  <% if @user.closed %>
    <span class="badge badge-info">account closed</span>
    <%= link_to "open account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "close account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-primary" %>
  <% end %>
<% end %>

<p>
  member of:
  <% @user.beer_clubs.each do |club|%>
    <li> <%= link_to club.name, beer_club_path(club.id) %> </li>
  <% end %>
</p>

<p>
  <% if @user.ratings.empty? %>
    Has made 0 ratings
  <% else %>
    Has made <%= @user.ratings.count %> <%= "rating".pluralize(@user.ratings.count)%>, average rating <%= @user.average_rating %>
    <p>Favorite beer: <%= @user.favorite_beer.name %></p>
    <p>Favorite brewery: <%= @user.favorite_brewery.name %></p>
    <p>Preferred style: <%= @user.favorite_style %></p>
    <h2>Ratings</h2>
    <ul>
      <% @user.ratings.each do |rating| %>
        <li> <%= rating %> 
        <% if @user == current_user %>
          <%= link_to 'delete', rating_path(rating.id), method: :delete %> </li>        
        <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</p>

<% if current_user == @user %>
  <td><%= link_to 'delete account', user_path(@user.id), method: :delete, :class=>"btn btn-danger" %></td>
  <td><%= link_to 'edit account', edit_user_path(@user.id), :class=>"btn btn-primary" %></td>
<% end %>
