<div class="row">
<ul class="col-md-4">
 <h3>Recent ratings</h3>
 <% @recent.each do |rating| %>
   <li> <%= rating %> by <%= link_to rating.user.username, rating.user %> </li>
 <% end %>
</ul>


<ul class="col-md-4">
 <h3>Best beers</h3>
 <% @beers.each do |beer| %>
   <li> <%= link_to beer.name, beer %>, average rating <%= round(beer.average_rating) %> </li>
 <% end %>
</ul>

<ul class="col-md-4">
 <h3>Best breweries</h3>
 <% @breweries.each do |brewery| %>
   <li> <%= link_to brewery, brewery %>, average rating <%= round(brewery.average_rating) %> </li>
 <% end %>
</ul>

<ul class="col-md-4">
 <h3>Most active users</h3>
 <% @users.each do |user| %>
   <li> <%= link_to user.username, user %>, ratings done: <%= user.ratings.count %> </li>
 <% end %>
</ul>

<ul class="col-md-4">
 <h3>Best styles</h3>
 <% @styles.each do |style| %>
   <li> <%= style.name %>, rating average: <%= round(style.rating_average) %> </li>
 <% end %>
</ul>

</div>

<p> Number of ratings: <%= @ratings.count %> </p>